@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
:root {
  --white: #f9f9f9;
  --green: #65b8a6;
  --green-light: #a6f0f1;
  --black: #36383F;
  --grey: #85888C;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

main {
  padding: 21px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.activo {
  font-weight: bold;
  scale: 1.1;
}

/* INICIO NAV RESPONSIVE */
.header {
  background-color: var(--green);
  box-shadow: 1px 1px 5px 0px var(--grey);
  position: sticky;
  top: 0;
  width: 100%;
}

.logo {
  display: inline-block;
  margin: 5px 0 5px 10px;
  width: 80px;
  height: 60px;
}

.nav {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: var(--green);
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-out;
}

.menu a {
  display: block;
  padding: 30px;
  color: var(--white);
}
.menu a:hover {
  background-color: var(--green-light);
  transition: all ease 0.3s;
}

.hamb {
  cursor: pointer;
  float: right;
  padding: 40px 20px;
}

.hamb-line {
  background: var(--white);
  display: block;
  height: 2px;
  position: relative;
  width: 24px;
}

.hamb-line::before,
.hamb-line::after {
  background: var(--white);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.hamb-line::before {
  top: 5px;
}

.hamb-line::after {
  top: -5px;
}

.side-menu {
  display: none;
}

.side-menu:checked ~ nav {
  max-height: 100%;
}

.side-menu:checked ~ .hamb .hamb-line {
  background: transparent;
}

.side-menu:checked ~ .hamb .hamb-line::before {
  transform: rotate(-45deg);
  top: 0;
}

.side-menu:checked ~ .hamb .hamb-line::after {
  transform: rotate(45deg);
  top: 0;
}

/* FIN NAV RESPONSIVE */
/* INICIO MAIN */
.texto-inicio {
  padding: 35px 0 0 25px;
}

.container2 {
  background-color: #f0f7da;
  width: 100%;
  height: 100%;
  margin: auto;
  display: grid;
  gap: 2em;
  justify-content: center;
  grid-template-areas: "caja1" "caja2" "caja4" "caja3" "caja5" "caja6";
}

.c1 {
  grid-area: caja1;
  margin-top: 3em;
  margin-bottom: 1em;
}

.c2 {
  grid-area: caja2;
  margin-bottom: 4em;
}

.c3 {
  grid-area: caja3;
  margin-bottom: 4em;
}

.c4 {
  grid-area: caja4;
  margin-top: 3em;
  margin-bottom: 1em;
}

.c5 {
  grid-area: caja5;
  margin-top: 4em;
}

.c6 {
  grid-area: caja6;
  padding-bottom: 5em;
}

.caja {
  /* width: 35em; */
  height: 11em;
  text-align: center;
}

.h3-inicio {
  padding-top: 2em;
  max-width: 100%;
}

.p-inicio {
  text-align: justify;
  width: 80%;
  margin: auto;
  font-size: 20px;
  padding-bottom: 2rem;
}

.img-inicio {
  max-width: 100%;
  height: 18em;
  max-width: 100%;
  padding-top: 6em;
}

/* FIN MAIN */
/* inicio menu  */
.menu-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  margin: auto;
}

/* fin menu  */
.card-img-top {
  width: 100%;
  height: 100%;
}
.card-img-top:hover {
  transform: scale(1.1);
  transition: all ease 0.1s;
}

/* prop-btn  */
.btn {
  background: linear-gradient(102deg, #4551b5 40%, #543fd7 60%);
  color: #ffffff;
  display: inline-block;
  margin-top: 2rem;
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.99);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 15px rgb(185, 185, 185);
  }
  100% {
    transform: scale(0.99);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}
label {
  padding: 0.5em 0 0.5em 0;
}

textarea {
  resize: none;
}

/* fin prop-btn  */
/* reseñas */
.res {
  border: solid 1px rgb(119, 118, 118);
  padding: 1em 1em 1em 1em;
  text-align: justify;
}

.resenas {
  display: grid;
  gap: 3em;
  grid-template-areas: "tit tit" "res1 res2" "res3 res3" "res4 res5" "res6 res6" "res7 res8" "res9 res9";
}

.res-tit {
  grid-area: tit;
  text-align: center;
  font-size: 28px;
}

.res1 {
  grid-area: res1;
}

.res2 {
  grid-area: res2;
}

.res3 {
  grid-area: res3;
}

.res4 {
  grid-area: res4;
}

.res5 {
  grid-area: res5;
}

.res6 {
  grid-area: res6;
}

.res7 {
  grid-area: res7;
}

.res8 {
  grid-area: res8;
}

.res9 {
  grid-area: res9;
}

/* fin reseñas */
/* INICIO FOOTER  */
footer {
  margin-top: 150px;
  height: 100px;
  width: 100%;
  background-color: #1f192f;
  position: relative;
  bottom: 0;
  color: white;
  text-align: center;
}

footer, p {
  padding-top: 20px;
}

/* FIN FOOTER  */
/* como se veria en escritorio */
@media screen and (min-width: 768px) {
  .nav {
    max-height: none;
    top: 0;
    position: relative;
    float: right;
    width: fit-content;
    background-color: transparent;
  }
  .menu li {
    float: left;
  }
  .menu a:hover {
    background-color: transparent;
    color: var(--green-light);
  }
  .hamb {
    display: none;
  }
  .logo {
    width: 100px;
    height: 70px;
  }
  /* MAIN  */
  .container2 {
    width: 90%;
    margin: auto;
    display: grid;
    gap: 1.5em;
    justify-content: center;
    grid-template-areas: "caja1 caja2" "caja3 caja4" "caja5 caja6";
  }
  .c1 {
    grid-area: caja1;
    width: 100%;
    height: 100%;
  }
  .c2 {
    grid-area: caja2;
  }
  .c3 {
    grid-area: caja3;
  }
  .c4 {
    grid-area: caja4;
  }
  .c5 {
    grid-area: caja5;
  }
  .c6 {
    grid-area: caja6;
  }
  .caja {
    width: 100%;
    height: 100%;
    text-align: center;
  }
  .img-inicio {
    width: 85%;
    height: 75%;
    margin-top: 50px;
  }
  .img-inicio:hover {
    transform: scale(1.05);
    transition: all ease 0.3s 0.1s;
  }
  .h2-inicio {
    font-weight: bold;
    font-size: 1.5rem;
    padding-top: 4em;
  }
  .h3-inicio {
    font-weight: 600;
    font-size: 1.2rem;
  }
  .p-inicio {
    font-size: 1rem;
    width: 100%;
  }
  /* FIN MAIN  */
  /* INICIO MENU  */
  .menu-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
  }
  .menu-img {
    width: 100%;
    margin: auto;
  }
  /* FIN MENU  */
  /* BOOTSTRAP */
  .fotos-titulo {
    text-align: center;
    font-weight: bold;
    padding-top: 2em;
  }
  .bootstrap {
    width: 80%;
    margin: auto;
    background-color: #f0f7da;
  }
  .carousel {
    width: 70%;
    margin: auto;
    padding: 5em 0 3em 0;
  }
  .container-3 {
    width: 90%;
    margin: auto;
    padding-bottom: 5em;
  }
  /* FIN BOOTSTRAP  */
  /* RESEÑAS */
  .resenas {
    width: 85%;
    margin: auto;
    grid-template-areas: "tit tit tit" "res1 res2 res2" "res3 res4 res5" "res6 res6 res7" "res8 res9 res9";
  }
  /* FIN RESEÑAS */
  /* CONTACTO  */
  .form-contacto {
    display: flex;
    flex-direction: column;
    border-right: solid rgb(78, 78, 78) 1px;
    padding: 0 3em 0 5em;
  }
  .contacto-container {
    background-color: #f0f7da;
    width: 90%;
    margin: auto;
  }
  .aver {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
  }
  .formulario {
    margin: auto;
    width: 100%;
  }
  .ubicacion {
    margin: auto;
    width: 100%;
  }
  .mapa {
    width: 90%;
    height: 350px;
    padding-left: 3rem;
  }
  /* FIN CONTACTO  */
  footer {
    margin-top: 50px;
  }
}
/* VISTA CELULAR */
@media only screen and (min-width: 350px) and (max-width: 767px) {
  .h2-inicio {
    font-size: 1.2rem;
    padding-top: 3em;
  }
  .h3-inicio {
    font-weight: 600;
    font-size: 1rem;
  }
  .p-inicio {
    font-size: 0.8rem;
  }
  .menu-page {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menu-img {
    width: 100%;
    margin: auto;
  }
  .fotos-titulo {
    text-align: center;
    font-weight: bold;
    padding: 2em 2em 0 2em;
  }
  .bootstrap {
    width: 100%;
    background-color: #f0f7da;
  }
  .carousel, .container-3 {
    width: 90%;
    margin: auto;
    padding: 5em 0 0 0;
  }
  .container-3 {
    padding-bottom: 5em;
  }
  .form-contacto {
    display: flex;
    flex-direction: column;
    border-bottom: solid rgb(78, 78, 78) 1px;
    padding: 0 3em 3em 5em;
  }
  .contacto-container {
    background-color: #f0f7da;
    width: 100%;
  }
  .aver {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  .formulario {
    margin: auto;
    width: 100%;
  }
  .ubicacion {
    margin: auto;
    width: 100%;
    padding-top: 4em;
  }
  .mapa {
    width: 100%;
    height: 400px;
  }

  .resenas {
    gap: 1em;
    
  }
  .res-p{
    font-size: 14px;
  }
  .img-inicio{
    margin-top: 3rem;
  }
}

/*# sourceMappingURL=estilos.css.map */
